<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body{% if page.theme %} class="theme-{{ page.theme }}"{% endif %}>

    <a class="skip" href="#main">Skip to content</a>

    {% include header.html %}

    <main class="page-content" id="main">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    {%- if site.cloudflare_analytics_token %}
    <!-- Cloudflare Web Analytics -->
    <script type="module" src="https://static.cloudflareinsights.com/beacon.min.js"
            data-cf-beacon='{"token": "{{ site.cloudflare_analytics_token }}"}'></script>
    <!-- End Cloudflare Web Analytics -->
    {%- endif %}

  </body>

</html>
